:root {
    --gray-text: #616161;
}

* {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

section {
    width: min(500px, 100%);
    padding: 20px;
    margin: 0 auto;
}

button {
    color: #ffffff;
    background-color: #2d4fe6;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: #2846cf;
}

input[type="text"] {
    padding: 8px;
    font-size: 14px;
}

input[type="text"]::placeholder {
    color: var(--gray-text);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
    font-size: 400;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.text-gray {
    color: var(--gray-text);
}

.text-bold {
    font-weight: 700;
}