/* Секция с погодой */
#weather {
    display: none; /* Изначально скрыт */
}

.weather-city p {
    font-size: 14px;
}

/* Блок с информацией */
.weather-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Температура */
.weather-info h2 {
    font-size: 48px;
    font-weight: 400;
}

/* Погода */
.weather-info h3 {
    font-size: 22px;
    font-weight: 400;
}

.weather-info small,
.weather-info small span,
.weather-info small sup {
    font-size: 12px;
}

/* Правая часть погоды */
.weather-right {
    align-items: flex-end;
}

.weather-right p {
    text-align: right;
    font-size: 16px;
}