.message {
    width: 100%;
    padding: 8px;
    border-radius: 12px;
    display: flex;
    gap: 16px;
    background-color: #1a2436;
}

.message__avatar {
    width: 60px;
    height: 60px;
    padding: 4px;
    border-radius: 50%;
    background-color: #304468;
}

.message__avatar img {
    width: 100%;
}

.message__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message__body h3 {
    font-size: 20px;
}

.message__body p {
    font-size: 16px;
}