.catalog {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.catalog-item img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    object-fit: cover;
    /* background-color: #FFFFFF; */
}

.catalog-item h4 {
    width: 100%;
    text-align: center;
    font-size: 12px;
}